/* --- CYBERPUNK RED: MAIN ENTRY --- */
@import url('./theme.css');
@import url('./cards.css');

.theme-cyberpunk_red .main-header {
    background: #000;
    border-bottom: 5px solid #ff0000;
}

.theme-cyberpunk_red .header-btn {
    border-radius: 0;
    border: 2px solid #ff0000;
}

.theme-cyberpunk_red .header-btn:hover {
    background: #ff0000;
    color: #fff;
}
