/* --- CYBER CITY 2077: MAIN --- */
@import url('./theme.css');
@import url('./cards.css');
.theme-cyber_city .main-header { background: #000; border-bottom: 3px solid #00f2ff; box-shadow: 0 0 15px #00f2ff; }
.theme-cyber_city .header-btn { border-radius: 0; border-color: #fcee0a; color: #fcee0a; }
