/* --- CYBER CITY 2077: THEME --- */
:root { --bg-main: #020202; --bg-card-base: #050505; --text-main: #fcee0a; --text-muted: #00f2ff; --accent: #fcee0a; --accent-glow: rgba(252, 238, 10, 0.4); --border-color: #00f2ff; }
body.theme-cyber_city { background: #020202; background-image: repeating-linear-gradient(0deg, rgba(0, 242, 255, 0.03) 0px, rgba(0, 242, 255, 0.03) 1px, transparent 1px, transparent 2px); font-family: 'Orbitron', sans-serif; }
